{
    "metadata": {
        "fqdn": "{{hostname}}.{{domain}}"
    },
    "spec": {
        "hostname": "{{hostname}}",
        "ipaddress": "{{ipaddress}}",
        "datacenter": "{{datacenter}}",
        "island": "{{island}}",
        "domain": "{{domain}}"
    }
}